@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #e72e6b;
    --branco: #ffclfc;
    --laranja: #765f79;
    --azul-degrade: linear-gradient(97.54deg, #f581ad 35.49%, hsl(318, 81%, 18%) 165.37%);
    --fonte-principal: "Poppins";
    --azul: #0f0f0f;
 --fonte-secundario: "Josefin Sans";
 --preto: #000000;
 --cinza: #474646;
 --cinza-claro: hwb(320 2% 62%);

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}